.section2Shop {

    .myImg {
        position: relative;
        overflow: hidden;

        &::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.0);
            transition: 1s;
        }

        &:hover::before {
            transition: 1s;
            background-color: rgba(0, 0, 0, 0.3);
        }


        .myBtn {
            position: absolute;
            bottom: -10%;
            right: 50%;
            transform: translate(50%);
            color: white;
            background-color: rgba(0, 0, 0, 0.3);
            padding: 0.3rem 1.2rem;
            border-radius: 2rem;
            width: 60%;
            transition: 0.4s;
        }

        &:hover {
            .myBtn {
                bottom: 10%;
                background-color: rgba(0, 0, 0, 0.9);


                &:hover {
                    background-color: #e7654c;
                }

            }
        }
    }

    .pName {
        transition: 0.3s;
        cursor: pointer;

        &:hover {
            color: #e7654c;
        }
    }

}